.card {
    background-color: var(--card-bg-color);
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
    overflow: hidden;
    color: var(--card-text-color);

    /* ORIGINAL
    @include theme-transition; */

    /* Don't think this is working along with grid */
    max-width: 526px;
}
.card:focus-within {
    /* outline: 1px solid gray; */
    box-shadow: 0 0 5px gray;
}


.card__flag {
    /* Cover flag image */
    height: 160px;
    box-shadow: var(--card-box-shadow);
}
.card__flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card__content {
    padding: 1.9em 2em;
}


.card__country {
    word-wrap: break-word;
    margin-bottom: 1em;
}
.card__country a {
    text-decoration: none;
    color: var(--card-text-color);
}
.card__country a:hover {
    text-decoration: underline;
}

.card__list {
    list-style: none;
}
.card__list li {
    margin-bottom: 5px;
}

.card__term {
    font-weight: var(--font-semi-bold);
}









@media only screen and (min-width: 700px) {
    /* transition: transform 200ms ease;
        .card:hover {
            transform: scale(1.1);
        } */

    .card__country {
        font-size: 1.1rem;
        font-weight: var(--font-extra-bold);
    }

}