/*==========
LAYOUT
=========*/

.container {
    width: 90%;
    max-width: var(--page-max-width);
    margin: 0 auto;
}
@media only screen and (min-width: 800px) {
    .container {
        width: 90%;
    }
}


.header {
    max-height: 80px;
    padding: 2.8em 0 5em;
    background-color: var(--page-header-bg-color);
    box-shadow: var(--page-header-box-shadow);

    /* ORIGINAL
    @include theme-transition; */
}
.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: 0.55rem;
    font-weight: var(--font-extra-bold);
}
.header__theme {
    font-size: 0.85rem;
    font-weight: var(--font-semi-bold);
}


/*==========
DESKTOP
=========*/

@media only screen and (min-width: 700px) {

    .header {
        padding: 1.5em 0;
    }

    .header__title {
        font-size: 0.75rem;
    }

}