.container {
    width: 90%; /* should be 85% for detail page */
    max-width: var(--page-max-width);
    margin: 0 auto;
}

@media only screen and (min-width: 800px) {
    .container {
        width: 90%;
    }
}