/*==========
LAYOUT
=========*/

.search {
    margin: 2.1em auto;
}
.search__row {
    display: flex;
    flex-direction: column;
}



/*==========
DESKTOP
=========*/

@media only screen and (min-width: 700px) {

    .search {
        margin-top: 3.7em;
        margin-bottom: 3.7em;
    }
    .search__row {
        flex-direction: row;
    }

}